
body {
  font: 300 14px "Helvetica Neue", Helvetica, Arial;
}
a { cursor: pointer; cursor: hand; }
#header {
  background: white;
  position: fixed;
  z-index: 2;
  top: 0;
  height: 50px;
  left: 0;
  right: 0;
  border-bottom: 1px solid black;
  overflow: hidden;
}
#header .controls {
  float: right;
}
.requirebin-badge { width: 100px; height: 100px; background: url(../badge.png) no-repeat 0 0; background-size: 100px 100px; z-index: 1000; }
.col-xs-3 { width: 38%; padding-top: 10px; }
.run-btn { line-height: 34px; }
.run-btn i { position: relative; top: 1.5px; right: 2px; }

.cacheState { float: right; line-height: 52px; margin-right: 10px; font-size: 11px; }

.actionsMenu { width: 224px; float: right; margin: 5px 10px; }
.actionsButtons { margin: 5px 0; float: right; }
.actionsButtons i { position: relative; top: 1px; }
.actionsButtons .fui-new-16 { margin-right: 7px; }
.actionsButtons .fui-eye-16 { margin-right: 5px; }
.actionsButtons a.btn-primary { padding: 9px 14px 10px 14px; }
.large {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}
.left {
  position: absolute;
  top: 50px;
  left: 0;
  right: 50%;
  bottom: 0;
}
.right {
  position: absolute;
  top: 50px;
  left: 50%;
  right: 0;
  bottom: 0;
}
.hidden { visibility: hidden; display: none; }

.tagsinput { height: auto; }
.tag a { color: white; text-decoration: none; }

#edit, #play { z-index: 1; border-top: 1px solid #eee; border-right: 1px solid #eee; }

#edit .CodeMirror {

  height: 100%;
  font-size: 12px;
  background-color: rgba(255,255,255,0.75);
  -webkit-transform: translateZ(0); /* Workaround for OSX antialias issue */

}

#edit .CodeMirror-scroll {

  height: 100%;

}

#edit .CodeMirror div.CodeMirror-selected {

  background: rgba(0,0,0,0.1);

}

#edit .CodeMirror-focused div.CodeMirror-selected {

  background: rgba(0,0,255,0.1);

}

#edit .CodeMirror .errorLine {

  background: rgba(255,0,0,0.25);

}

body { margin: 0; padding: 0; }

html, body, #editor { height: 100%; }

/* mysterious pre */
body > pre { display: none } 

/* codemirror */
.CodeMirror { font-size:12px; }

.tagline { margin-top: 9px; float: left;}

.npm {
  background: url(../img/npm.png);
  background-size: 38px 15px;
  width: 38px;
  height: 15px;
  display: inline-block;
  position: relative;
  top: 4px;
}

.browserify {
  background: url(../img/browserify.png);
  background-size: 75px 22.5px;
  width: 75px;
  height: 22.5px;
  display: inline-block;
  position: relative;
  top: 7px;
}

.view-icon {
  background: url(../img/view.png);
  width: 28px;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 5px;
}


#editor .CodeMirror .errorLine { background: rgba(255,0,0,0.25); }

#play { overflow: hidden }
#shareTextarea { font-size: 12px; }
#shareInstructions p { margin: 5px 0; }

#howto, #share, .packagejson { padding: 20px; position: absolute; right: 0; background: white; width: 40%; overflow: auto; border-left: 1px solid #eee; border-bottom: 1px solid #eee; }
.packagejson { clear: both; }
.packagejson .tagsinput .tag:hover { padding: 6px 13px 6px 19px; }
.packagejson h6 { margin-top: 0; }
#howto ul { list-style-type: none; }
#howto p { margin-bottom: 10px }
.logo { padding: 0px 6px 0 1px; margin-top: 5px; float: left; background-size: 40px 200px; width: 200px; }
.attribution { margin: 20px 0 0 0; float: left; font-size: 12px; }
#controls { width: 50%; top: 0; right: 0; left: initial;}
#container {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#crosshair {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -2px 0 0 -2px;
  width: 4px;
  height: 4px;
  background-color: #d00;
  opacity: 0.5;
}

#stats { bottom: 0px; right: 0px; }
.errorMessage { text-align: center; width: 200px; margin: 20px auto; }

@-webkit-keyframes rotate{
  from{
    -webkit-transform:rotate(0deg) translate(-9px) rotate(0deg);
  }
  to{
    -webkit-transform:rotate(360deg) translate(-9px) rotate(-360deg);
  }
}

.spinning {
  -webkit-animation:rotate infinite linear;
  -webkit-animation-duration:.5s;
  -webkit-animation-delay:.1s;
}

.alert {
  z-index: 100;
  white-space: pre;
  width:435px;
  position:absolute;
  top:5px;
  left:50%;
  margin-left:-200px;
}

/* spinkit */

.spinner {
  float: right;
  margin: 10px;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  } 20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}

@media only screen and (max-width: 1150px) {
  .tagline {
    display: none;
  }
}
